{% extends 'base.html' %}

{% block content %}
<h1>Plant Identification Confirmation</h1>
{% if object.image %}
<img src="{{ object.image.url }}" alt="img" style="max-width: 30%; max-height: 30%;">
{% endif %}
{% if object.species %}
<p>The species is : {{ object.species }}</p>
{% else %}
<p>The API returned multiple possible species:</p>
<form method="post">
    {% csrf_token %}
    {% for species in species_list %}
    <input type="radio" name="species" value="{{ species }}"> {{ species }}
    {% endfor %}
    <input type="submit" value="Confirm Species">
</form>
{% endif %}
{% endblock %}